# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE files
.idea
.vscode
nbproject

# Vendor and dependencies
vendor
node_modules

# Runtime files
runtime/*
web/assets/*

# Tests
tests
codeception.yml

# Environment specific
.env
.env.local

# Other
.DS_Store
Thumbs.db 